{%- extends "_atoms/quotes/quote--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- The actual quote
    source: (OBJ) -- Object that contains the source link

#}

{%- import '_macros/atoms' as render -%}

{%- block quote -%}

    {%- minify -%}

        <blockquote {{ values.source ? 'cite="'~ values.source.getText() ~ '"' : '' }} class="pt-2 relative mr-auto {{ values.position == 'right' ? ' text-right' : 'text-left' -}}">

            <span class="absolute top-0 left-0 text-blue-500 text-6xl font-serif">&quot;</span>

            <div class="prose md:prose-lg ml-10">
                <p>
                    {{- render.atom('text', 'content', { content: values.content }) -}}
                </p>
            </div>

            {%- if values.source -%}

                <footer class="ml-10 mt-2">
                    <a href="{{- values.source.getUrl() -}}" class="text-blue-500">~ {{ values.source.getText() -}}</a>
                </footer>

            {%- endif -%}

        </blockquote>

    {%- endminify -%}

{%- endblock -%}