{%- extends "_atoms/quotes/quote--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- The actual quote
    source: (OBJ) -- Object that contains the source link
    position: (STR) -- The position in case it is a Pull quote

#}

{%- import '_macros/atoms' as render -%}

{%- block quote -%}

    {%- minify -%}

        <aside class="clearfix {{- values.position =='left' ? 'float-left' : 'float-right' -}}">

            <blockquote {{ values.source ? 'cite="'~ values.source.getText() ~ '"' : '' }} class="py-2 border-blue-500 relative mr-auto {{ values.position == 'right' ? 'pr-4 text-right border-r-4' : 'pl-4 text-left border-l-4' -}}">

                <div class="prose md:prose-lg">
                    <p>
                        {{- render.atom('text', 'content', { content: values.content }) -}}
                    </p>
                </div>

                {%- if values.source -%}

                    <footer class="ml-10">
                        <a href="{{- values.source.getUrl() -}}" class="text-blue-500">~ {{ values.source.getText() -}}</a>
                    </footer>

                {%- endif -%}

            </blockquote>

        </aside>

    {%- endminify -%}

{%- endblock -%}